.search-bar {
  margin: 20px 0;
}
.input {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-right: 20px;
}
.button {
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  box-shadow: 3px 3px rgb(133, 133, 133);

  cursor: pointer;
}
.button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
